 <!-- Welcome To Tools Section start -->
 <div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title style="margin-left: 13px!important;">Welcome To Tools Section</mat-card-title>
                <mat-card-subtitle style="margin-left: 13px!important; margin-top: 15px!important;" class="text-muted">Auxo Ads tools can help you increase daily productivity. We will keep updating new tools to help you to increase productivity.</mat-card-subtitle>
                <!-- 6 boxes start -->
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-primary m-0">AdX Sticky Ads Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">You can create any adX sticky ads from this section easily.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-sticky-ads" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-gg display-5 op--3 text-primary toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-warning m-0">AdX & AdSense Advance Responsive<br> Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">Generate responsive tags that can be hard-coded on your website.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-advance-responsive" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-tag display-5 op--3 text-warning toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-success m-0">DFP Responsive Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">Create DFP responsive tags effortlessly.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-DFP-responsive-tag-generator" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-window-restore display-5 op--3 text-success toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-info m-0">DFP Refresh Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">Create DFP refresh tags effortlessly.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-DFP-refresh-tag-generator" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-refresh display-5 op--3 text-info toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-danger m-0">DFP Responsive + Refresh Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">Add fluidness & power of refresh tags to your monetization.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-DFP-responsive-and-refresh" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-spinner display-5 op--3 text-danger toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                  
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-card style="box-shadow: 0 0 10px rgb(0 0 0 / 12%) !important;">
                            <mat-card-content>
                                <div class="d-flex no-block">
                                    <div class="stats">
                                        <h4 class="text-inverse m-0">DFP Sticky Ads Tag Generator</h4>
                                        <h6 class="text-muted m-t-10">Add DFP Sticky tag.</h6>
                                        <button mat-raised-button color="primary" routerLink="../admin-other-tools-app-DFP-Sticky-ads" class="bg-danger text-white">Create</button>
                                    </div>
                                    <div class="stats-icon text-right ml-auto">
                                        <i class="fa fa-cog display-5 op--3 text-inverse toolsmobile"></i>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <!-- 6 boxes end -->
            </mat-card-content>
        </mat-card>
    </div> 
 </div>