.color
{
  color: rgba(0, 0, 0, 0.54);
}

.fontfamilyth
{
  font-family: Noto Sans KR , sans-serif;
  font-size: 16px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.fontfamily
{
  font-family: Noto Sans KR , sans-serif;
  font-size: 14px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

table, th, td {
  border: 1px solid #e8eef3;
}