<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="text-right m-r-0 m-b-25" style="margin-top: 5px!important;">
          <div (click)="backPage()" mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </div>
        </div>
        <mat-card-title>Update Network Partner :</mat-card-title>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex="100">
            <form class="m-t-20  p-b-20" [formGroup]="profileform">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Auxo Child Network Code *</mat-label>
                    <input matInput placeholder="Enter Auxo Child Network Code" [(ngModel)]="pub_child_net_code_model" [formControl]="profileform.controls['child_net_code']" >
                  </mat-form-field>
                  <small *ngIf="profileform.controls['child_net_code'].errors?.pattern"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Please enter valid Child Network Code</small>
                  <small *ngIf="profileform.controls['child_net_code'].errors?.minlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> Child Network Code must be 5 numeric  characters</small>
                  <small *ngIf="profileform.controls['child_net_code'].errors?.maxlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> Child Network Code must be 20 numeric characters</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Adsense Partner Id</mat-label>
                    <input matInput placeholder="Enter Adsense Partner Id" [(ngModel)]="pub_adsense_id_model"
                      [formControl]="profileform.controls['pub_adsense_id']" >
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_adsense_id'].errors?.minlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Adsense Partner Id must be 12  characters</small>
                  <small *ngIf="profileform.controls['pub_adsense_id'].errors?.pattern"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Please enter valid Adsense Partner Id</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Network Partner First Name *</mat-label>
                    <input matInput placeholder="Enter Network Partner First Name" [(ngModel)]="pub_fname_model" [formControl]="profileform.controls['pub_fname']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_fname'].errors?.whitespace && profileform.controls['pub_fname'].touched"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Please enter valid first name</small>
                                   
                  <small *ngIf="profileform.controls['pub_fname'].errors?.minlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> First name must be 3 characters</small>
                  <small *ngIf="profileform.controls['pub_fname'].errors?.pattern"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">First name must be characters</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Network Partner Last Name</mat-label>
                    <input matInput placeholder="Enter Network Partner Last Name" [(ngModel)]="pub_lname_model" [formControl]="profileform.controls['pub_lname']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_lname'].errors?.pattern"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Last name must be characters</small>
                </div>
                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0 m-b-f5">
                    <mat-label>Select Account Manager *</mat-label>
                    <mat-select matInput #fontSize value="16px" [(ngModel)]="pub_manager_id_model" [formControl]="profileform.controls['manager_id']">
                      <mat-option *ngFor="let acclist of acc_mgr_list;" value="{{acclist.manager_id}}"> {{acclist.manager_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label> Network Partner E-Mail Id *</mat-label>
                    <input matInput placeholder="Enter Network Partner Email Id" [(ngModel)]="pub_email_model"
                      [formControl]="profileform.controls['pub_email']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_email'].errors && profileform.controls['pub_email'].touched"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Must be a valid email address</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Network Partner Address</mat-label>
                    <input matInput placeholder="Enter Network Partner Address" [(ngModel)]="pub_address_model" [formControl]="profileform.controls['pub_address']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_address'].errors?.minlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Network Partner Address must be 5 characters</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Network Partner Contact No. *</mat-label>
                    <input matInput placeholder="Enter Network Partner Contact No." [(ngModel)]="contact_model" [formControl]="profileform.controls['contact']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['contact'].errors?.pattern"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Please enter valid contact number</small>
                  <small *ngIf="profileform.controls['contact'].errors?.minlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> Contact number must be 8 numeric  characters</small>
                  <small *ngIf="profileform.controls['contact'].errors?.maxlength"  class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> Contact number must be 12 numeric characters</small>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Network Partner Company Name *</mat-label>
                    <input matInput placeholder="Enter Network Partner Company Name" [(ngModel)]="pub_company_model" [formControl]="profileform.controls['pub_company']">
                  </mat-form-field>
                  <small *ngIf="profileform.controls['pub_company'].errors?.whitespace && profileform.controls['pub_company'].touched" class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth">Please enter valid company name</small>
                  <small *ngIf="profileform.controls['pub_company'].errors?.minlength" class="text-danger support-text logintrp-css spacing-adjust m-b-20 customWidth"> Company name must be 3 characters</small>
            
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>AFC ( Auxo Network For Content ) CMS Share %</mat-label>
                    <input matInput placeholder="Enter AFC ( Adx For Content ) CMS Share %"
                      [(ngModel)]="pub_display_share_model" [formControl]="profileform.controls['pub_display_share']">
                  </mat-form-field>
                </div>

                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>AFV ( Auxo Network For Video ) or Cyber Media TV Share %</mat-label>
                    <input matInput placeholder="Enter Auxo Network For Video Share %"
                      [(ngModel)]="pub_video_share_model" [formControl]="profileform.controls['pub_video_share']">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field appearance="outline" class="p-r-0">
                    <mat-label>Auxo Network For App Share %</mat-label>
                    <input matInput placeholder="Enter Auxo Network For App Share %" [(ngModel)]="pub_app_share_model" [formControl]="profileform.controls['pub_app_share']">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <div class="p-r-0 m-b-10 m-t-5 text-center">
                    <button mat-stroked-button (click)="profileSubmit()" class="bg-danger text-white">Submit</button>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
        <!-- form End -->
      </mat-card-content>
      <!--loader-->
      <div class="bg-opacity" *ngIf="isSpinnerVisible">
        <div class="parent">
          <div class="spin1"></div>
        </div>
      </div>
      <!--loaderend-->
    </mat-card>
  </div>
</div>