<!-- DateRange start -->
<mat-card>
    <mat-card-content>
        <div class="text-right m-r-0 m-b-25" style="margin-top: 5px!important;">
            <div (click)="backPage()" mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </div>
        </div>
        
        <mat-card-title>Central - Detailed Dashboard </mat-card-title>
        <div class="p-t-15" fxLayout="row wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="reduce-margin">
                    <mat-card-content class="reduce-padding">
                        <button mat-fab color="primary" mat-card-icon class="shadow-none bg-primary mat-card"
                            style="pointer-events: none !important;">
                            <mat-icon class="fonttopbar">account_box</mat-icon>
                        </button>
                        <h3 class="m-0 font-22 m-t-20 m-b-10">{{QTD_Onboardings}}</h3>
                    </mat-card-content>
                    <div class="textbox5break" style="position: relative!important; top: -25px!important;">
                        <a class="link login-weight m-t-0 font-15 adsense_head">QTD On Boardings</a>
                    </div>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="reduce-margin">
                    <mat-card-content class="reduce-padding">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-warning  mat-card"
                            style="pointer-events: none !important;">
                            <mat-icon class="fonttopbar">account_circle</mat-icon>
                        </button>
                        <h3 class="m-0 font-22 m-t-20 m-b-10">${{QTD_Top_Line}}</h3>
                    </mat-card-content>
                    <div class="textbox5break" style="position: relative!important; top: -25px!important;">
                        <a class="link login-weight m-t-0 font-15 adsense_head">QTD Top Line</a>
                    </div>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="reduce-margin">
                    <mat-card-content class="reduce-padding">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none bg-success mat-card"
                            style="pointer-events: none !important;">
                            <mat-icon class="fonttopbar">eject</mat-icon>
                        </button>
                        <h3 class="m-0 font-22 m-t-20 m-b-10">${{QTD_Bottom_Line}}</h3>
                    </mat-card-content>
                    <div class="textbox5break" style="position: relative!important; top: -25px!important;">
                        <a class="link login-weight m-t-0 font-15 adsense_head">QTD Bottom Line</a>
                    </div>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="reduce-margin">
                    <mat-card-content class="reduce-padding">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-info mat-card"
                            style="pointer-events: none !important;">
                            <mat-icon class="fonttopbar">domain</mat-icon>
                        </button>
                        <h3 class="m-0 font-22 m-t-20 m-b-10">${{QTD_dom_inte}}</h3>
                    </mat-card-content>
                    <div class="textbox5break" style="position: relative!important; top: -25px!important;">
                        <a class="link login-weight m-t-0 font-15 adsense_head">QTD Domestic /
                            International</a>
                    </div>
                </mat-card>
            </div>

            <div fxFlex.gt-sm="50" fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="50" fxFlex="100">
                <mat-card class="reduce-margin">
                    <mat-card-content class="reduce-padding">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger mat-card"
                            style="pointer-events: none !important;">
                            <mat-icon class="fonttopbar">devices_other</mat-icon>
                        </button>
                        <h3 class="m-0 font-22 m-t-20 m-b-10">${{QTD_dis_app_vid}}</h3>
                    </mat-card-content>
                    <div class="textbox5break" style="position: relative!important; top: -25px!important;">
                        <a class="link login-weight m-t-0 font-15 adsense_head">QTD Display / App /
                            Videos</a>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Table 1  start  -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Overall Earnings Estimates : ( {{dateEarn}} ) </mat-card-title>

                <div class="table-responsive m-t-20">
                    <table mat-table [dataSource]="dataSource1" matSort class="no-wraap m-t-10 m-b-20 v-middle"
                        style="width: 100%;">

                        <ng-container matColumnDef="position1">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15"> Product</th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal">{{element.name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="name1">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15"> Top Line ($) </th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal text-right">
                                {{element.Topline}} </td>
                        </ng-container>

                        <ng-container matColumnDef="weight1">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15"> Bottom Line ($)
                            </th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal text-right">
                                {{element.Bottomline}} </td>
                        </ng-container>

                        <ng-container matColumnDef="coverage1">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15"> Net Breakup (%)
                            </th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal text-right">
                                {{element.NetBreakup}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Table 2  start  -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Overall Publisher Earnings : ( {{dateOverall}} ) </mat-card-title>
                <div class="table-responsive m-t-20">
                    <table mat-table [dataSource]="dataSource2" matSort class="no-wraap m-t-10 m-b-20 v-middle"
                        style="width: 100%;">

                        <ng-container matColumnDef="position2">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15">
                                Publisher Name</th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal">
                                {{element.PublisherName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="weight2">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15">
                                Top Line ($) </th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal text-right">
                                {{element.Topline}} </td>
                        </ng-container>

                        <ng-container matColumnDef="variation2">
                            <th mat-header-cell *matHeaderCellDef class="font-medium font-16 p-15">
                                Bottom Line ($)
                            </th>
                            <td mat-cell *matCellDef="let element" class="p-15 font-normal text-right">
                                {{element.Bottomline}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

 <div class="bg-opacity" *ngIf="isSpinnerVisible">
                <div class="parent">
                    <div class="spin1"></div>
                </div>
            </div>