@media only screen and (max-width: 1024px) {
    .reset-mbile{
    margin-top: -10px!important;
    margin-bottom: 15px!important;
    }
}
.networkpartner-mobile {
    margin-bottom: 15px!important;
}