@media only screen and (max-width: 1024px) {
.networkpartner-mobile{
margin-bottom: 25px!important;
}
}

.colorblackky
{
color: rgba(0, 0, 0, 0.87)!important;
font-size: 14px!important;
text-decoration: none!important;
}