<mat-card>
  <mat-card-content>
    <div class="text-right m-r-0 m-b-25" style="margin-top: 5px!important;">
      <div (click)="backPage()" mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </div>
    </div>

    <mat-card-title class="m-l-20 margin_notification_mobile">Notifications Hub </mat-card-title>
    <div class="m-t-10 notification_padding_laptop" fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <!-- Notification start -->
        <div class="mailbox mailbox_width">
          <ul>
            <li>
              <div class="message-center layout-height">
                <a class="notify-unread">
                  <div class="round round-primary">
                    <i class="fa-thin fa-g" style="font-size: 27px!important; margin-top: 8px!important;"></i>
                  </div>
                  <div class="mail-content">
                    <h5 class="title-highlight">govtjobbuzz786@gmail.com<span class="unread-new">New</span></h5>
                    <span class="mail-desc para-highlight" style="border-left: 3px solid #29a3fb!important;">govtjobbuzz786@gmail.com has been transfered from Jatin Yadav to Keshav Goswami.</span>
                    <span class="time notify-time">Yesterday at 21:40</span>
                  </div>
                </a>

                <a class="notify-unread">
                  <div class="round round-warning">
                    <i class="fa-thin fa-g" style="font-size: 27px!important; margin-top: 8px!important;"></i>
                  </div>
                  <div class="mail-content">
                    <h5 class="title-highlight">brgehlot2017@gmail.com</h5>
                    <span class="mail-desc para-highlight" style="border-left: 3px solid #ffa115!important;">brgehlot2017@gmail.com has been transfered from Pintu Prasad to Rajeshwari Attri.</span>
                    <span class="time notify-time">Yesterday at 21:40</span>
                  </div>
                </a>

                <a class="notify-unread">
                  <div class="round round-success">
                    <i class="fa-thin fa-g" style="font-size: 27px!important; margin-top: 8px!important;"></i>
                  </div>
                  <div class="mail-content">
                    <h5 class="title-highlight">kashyapkumbhani1867898765@gmail.com</h5>
                    <span class="mail-desc para-highlight" style="border-left: 3px solid #3dd080!important;">kashyapkumbhani18@gmail.com has been transfered from Pintu Prasad to Keshav Goswami.</span>
                    <span class="time notify-time">Yesterday at 21:40</span>
                  </div>
                </a>

                <a class="notify-unread">
                  <div class="round round-info">
                    <i class="fa-thin fa-g" style="font-size: 27px!important; margin-top: 8px!important;"></i>
                  </div>
                  <div class="mail-content">
                    <h5 class="title-highlight">himanshub@gmail.com</h5>
                    <span class="mail-desc para-highlight" style="border-left: 3px solid #8d70fa!important;">himanshub@gmail.com has been transfered from Pintu Prasad to Keshav Goswami.</span>
                    <span class="time notify-time">Yesterday at 21:40</span>
                  </div>
                </a>

                <a class="notify-unread">
                  <div class="round round-danger">
                    <i class="fa-thin fa-g" style="font-size: 27px!important; margin-top: 8px!important;"></i>
                  </div>
                  <div class="mail-content">
                    <h5 class="title-highlight">ashgeeky1@gmail.com</h5>
                    <span class="mail-desc para-highlight" style="border-left: 3px solid #e94265!important;">ashgeeky1@gmail.com has been transfered from Pintu Prasad to Keshav Goswami.</span>
                    <span class="time notify-time">Yesterday at 21:40</span>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- =================notification end==================== -->
      </div>
    </div>

  </mat-card-content>
</mat-card>